<html>
<head>
    <title>PASMO Belize | Outlet Mapping</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css' rel='stylesheet' />
    <link href="/css/style.css" rel="stylesheet" />
    <script src="/js/jquery.js"></script>

</head>
<body>
<main class="rp-docs-masthead" role="main">
    <div class="container">
        <h1>MAP</h1>

    </div>
</main>


<div id="map" class="map">
</div>

<script src="/js/app.js"></script>

</body>
</html>